CREATE DATABASE [testumium]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testumium', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\testumium.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'testumium_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\testumium_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testumium].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DbTestItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [ntext] NOT NULL,
	[TestId] [int] NOT NULL,
 CONSTRAINT [PK_DbTestItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DbTests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[TestType] [int] NOT NULL,
	[Domain] [nvarchar](150) NOT NULL,
	[ContactName] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[WebsiteUrl] [nvarchar](250) NOT NULL,
	[Company] [nvarchar](150) NULL,
	[Comments] [nvarchar](1000) NULL,
	[CallTime] [datetime] NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_DbTests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [DbTestItems]  WITH CHECK ADD  CONSTRAINT [FK_DbTestItems_DbTests] FOREIGN KEY([TestId])
REFERENCES [DbTests] ([Id])
GO
ALTER TABLE [DbTestItems] CHECK CONSTRAINT [FK_DbTestItems_DbTests]
GO
