@section header {

}

<div class="container p-b-4">
    <form role="form" action="#" class="go-form" id="selectTestTypeForm" method="get">
        <h2 class="text-thin">Testing your website</h2>
        <div class="row">
            <div class="col-sm-9">
                <input type="text" class="form-control input-lg" id="yourWebsite" placeholder="Enter your url" name="domain" />
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-lg btn-primary btn-block" onclick="loadWebsite();">GO</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="loading" class="text-center" style="display:none">
                    <img src="~/Content/images/loading.gif" />
                </div>
                <div id="loadAlert" class="alert">
                    <p><img src="~/Content/images/check.png" alt="" /> <span>Loaded perfectly</span></p>
                </div>
                <h3 class="website-success" style="display:none">You can either describe the test yourself, or get free help from us. If you don’t want to spend time describing what and how to test, we will give you a call and set it up for free</h3>
            </div>
        </div>
        <div class="website-success row" style="display:none">
            <div class="col-sm-6">
                <div class="test-type-box">
                    <h4>Get a call from us and setup the test together</h4>
                    <input type="radio" value="Manual" name="TestType" />
                    <p>Free and no sales pitch</p>
                    <p class="text-center">
                        <img src="~/Content/images/check.png" style="display: none" class="check"/>
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="test-type-box">
                    <h4>Create your own test in our software</h4>
                    <input type="radio" value="OwnTest" name="TestType" />
                    <p class="text-center">
                        <img src="~/Content/images/check.png" style="display: none" class="check" />
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <br />
                <button type="submit" class="website-success btn btn-lg btn-primary" style="display:none" onclick="return submitTo();">Let's start</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var createTestData = {
        loading: false
    };

    function loadWebsite() {
        if (createTestData.loading == true) return;
        createTestData.loading = true;

        $('#loading').show();
        $.ajax({
            url: '@Url.Action("CheckWebsite", "Home")',
            type: 'GET',
            dataType: 'json',
            data: { url: $('#yourWebsite').val() },
            success: function () {
                $('.website-success').show();
                $('#loadAlert span').text('Loaded perfectly!');
                $('#loadAlert').addClass('alert-success');
                $('#loadAlert').removeClass('alert-danger');
                $('#loadAlert').show();
                $('#loading').hide();
                $('.website-success').show();
                createTestData.loading = false;
            },
            error: function () {
                $('#loadAlert span').text('Loaded fail!');
                $('#loadAlert').addClass('alert-danger');
                $('#loadAlert').removeClass('alert-success');
                $('#loadAlert').show();
                $('#loading').hide();
                $('.website-success').hide();
                createTestData.loading = false;
            }
        });
    }

    function submitTo(actionUrl) {
        var testType = '';
        $('input[name=TestType]').each(function () {
            if (this.checked == true) {
                testType = this.value;
            }
        });
        if (testType == 'Manual') {
            $('#selectTestTypeForm').attr('action', '@Url.Action("TellUsAboutYou", "Home")');
        } else {
            $('#selectTestTypeForm').attr('action', '@Url.Action("CreateOwnTest", "Home")');
        }
        return true;
    }

    $(function () {
        $('#yourWebsite').change(function () {
            loadWebsite();
        });
        $('input[name=TestType]').change(function () {
            $('.test-type-box').removeClass('active');
            $(this).closest('.test-type-box').addClass('active');
        });
    });
</script>

