@section header {
    <script type="text/javascript" src="~/Scripts/knockout-3.2.0.js"></script>
}
<div class="container p-b-4" id="creatOwnTest">
    <h2>Create your own test: @ViewBag.Domain</h2>
    <form action="@Url.Action("TellUsAboutYou")" role="form" method="get">
        <!-- ko foreach: tests -->
        <div class="form-group">
            <label>Test <span data-bind="text: $index() + 1"></span>:</label>
            <textarea class="form-control" data-bind="value: description"></textarea>
        </div>
        <!-- /ko -->
        <a href="javascript:;" data-bind="click: addTest">Add more test</a>
        <br /><br />
        <button type="submit" class="btn btn-primary" data-bind="click: save">Save test</button>
        <input type="hidden" name="testlist" id="testList" />
        <input type="hidden" name="testType" value="OwnTest" />
        <input type="hidden" name="domain" value="@ViewBag.Domain" />
    </form>
</div>

<script type="text/javascript">
    var TestItemViewModel = function () {
        var self = this;
        self.description = ko.observable('');
    };
    var CreateTestViewModel = function () {
        var self = this;
        self.tests = ko.observableArray([]);
        self.tests.push(new TestItemViewModel());

        self.addTest = function () {
            self.tests.push(new TestItemViewModel());
        };

        self.save = function () {
            $('#testList').val(ko.toJSON(self.tests()));
            $('#creatOwnTest form').get(0).submit();
        }
    };

    $(function () {
        var viewModel = new CreateTestViewModel();
        ko.applyBindings(viewModel, document.getElementById('createOwnTest'));
    });
</script>