<div class="hero behind-nav hero-landing-top">
    <div class="container hero-content text-bright animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <h1>Free tests of your website by humans. Don’t let customers tell you the problems</h1>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <h2>Enter your website and get started:</h2>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <form role="form" action="#" class="row go-form">
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-lg" id="yourWebsite" placeholder="Enter your website" />
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">GO</button>
                    </div>
                </form>
            </div>
        </div>
        <p>Free testing by human beings</p>
        <p>Very easy to setup</p>
    </div>
</div>

<div class="how-it-works">
    <div class="container">
        <h2 class="text-thin text-center m-t-5">Regular tests are important</h2>
        <hr class="grad gray" />
        <p class="text-center">Being developers ourselves, we know developers break things often. Sometimes it’s in new functionality, sometimes old functionality breaks.</p>
    </div>
    <div class="diagram container">
        <div class="row m-t-1">
            <div class="col-sm-4 text-center">
                <div class="figure">
                    <img alt="" src="~/Content/images/dummy/how-1.png" />
                </div>
                <h3>It’s expensive to let customers tell you about problems.</h3>
                <p>All websites has problems from time to time.</p>
                <br />
                <p>It’s better you find out from a tester, than your customers, something is wrong.</p>
            </div>
            <div class="col-sm-4 text-center">
                <div class="figure p-t-1">
                    <div class="img-overlap three">
                        <img class="img-circle img-border" alt="" src="~/Content/images/dummy/of.png">
                        <img class="img-circle img-border" alt="" src="~/Content/images/dummy/rb.png">
                        <img class="img-circle img-border" alt="" src="~/Content/images/dummy/ag.jpeg">
                    </div>
                </div>
                <h3>You never get to test your less popular features.</h3>
                <p>When websites are being tested, it’s normal to test the most popular features.</p>
                <br />
                <p>More than often, the less popular features don’t get attention.</p>
            </div>
            <div class="col-sm-4 text-center">
                <div class="figure">
                    <img alt="" src="~/Content/images/dummy/how-2.png">
                </div>
                <h3>Errors frustrate users and damage your brand.</h3>
                <p>When users see error pages or unexpected functionality it is very frustrating. That damages your brand,.</p>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray m-t-2 how-it-works p-b-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-left">
                <h2 class="text-thin m-t-3 m-b-2">Testumium: free tests by human beings</h2>
                <ol>
                    <li>You click create a new test</li>
                    <li>You can either setup the test yourself, or be guided by us (for free)</li>
                    <li>We will test all the functions you want, every week, and send a status report on your e-mail</li>
                </ol>
            </div>
        </div>
        <p>It’s that simple. Free, easy and helpful.</p>
        <h2 class="text-thin m-t-3 m-b-2">Get started:</h2>
        <form role="form" action="#" class="row go-form">
            <div class="col-sm-9">
                <input type="text" class="form-control input-lg" id="yourWebsite" placeholder="Enter your website" />
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-lg btn-primary btn-block">GO</button>
            </div>
        </form>
    </div>
</div>




