<div class="container p-b-4">
    <h2 class="text-thin text-center m-t-4">How Much Does it Cost?</h2>
    <div class="row m-t-2 m-b-2">
        <div class="col-md-10 col-md-offset-1">
            <div class="price-columns">
                <div class="column">
                    <div class="tier-name">Monthly</div>
                    <span class="price">$60</span>
                </div>
                <div class="column">
                    <div class="tier-name">Yearly</div>
                    <span class="price">$600</span>
                </div>
                <div class="column">
                    <div class="tier-name">Forever</div>
                    <span class="price">$6000</span>
                </div>
            </div>
        </div>
    </div>
</div>

